/* Lazy CSS */

body {
    background: #000;
    color: #eee;
    font-size: large;
    font-family: "Consolas", monospace;
}
a { color:rgb(0, 255, 210); }
a:hover { color:yellow; text-decoration: none; }
img { image-rendering: pixelated; }

mark {
    color: black;
    background: #f0f;
}

spoiler {
    color: #111;
    background: #111;
    border-radius: 3px;
    transition: all .15s;
}
spoiler:hover {
    color: #eee;
}

table {
    width: 30%;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 2px solid #aaa;
    border-right: 1px solid #a0a0a0;
  }

.red { color: #f00; }
.magenta { color:#f0f; }

.nav {
    padding: 10px;
}